*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #0d0e29;
}
button{
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    outline: none;
    border: none;
    position:absolute;
    left:80%;
    margin-right: 200px;
    top:5px;
   
    
}
h4{
    color:white;
    font-family: cursive;
    margin-top: 50px;
    margin-left: 25%;
}
.synonym{
    color:darkcyan;
    font-size: large;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
